Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.3
cov-core==1.14.0
coverage==3.7.1
docutils==0.12
evernote==1.25.0
httplib2==0.9
isodate==0.5.0
lxml==3.4.0
oauthlib==0.6.3
py==1.4.25
pytest==2.6.3
pytest-cov==1.8.0
requests==2.4.1
requests-oauthlib==0.4.1
sh==1.09
six==1.8.0
