Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.2
Sphinx==1.2.3
cov-core==1.15.0
coverage==3.7.1
docutils==0.12
evernote==1.25.0
httplib2==0.9
isodate==0.5.1
lxml==3.4.1
oauthlib==0.7.2
py==1.4.26
pyinotify==0.9.5
pytest==2.6.4
pytest-cov==1.8.1
requests==2.5.1
requests-oauthlib==0.4.2
sh==1.11
six==1.9.0
